.pageContent {
	top: 0;
	left: 0;
	z-index: -1;
	width: 100vw;
}
.pageContent > div {
	padding-top: 130px;
	height: calc(100vh - 160px);
	color: #eee;
}
.pageContent h1 {
	font-weight: 100;
}

.pageContent .more {
	user-select: none;
	opacity: 0;
	transform: translateY(16px);
	transition: opacity ease .3s, transform ease .3s;
	transition-delay: .5s, .5s;
}
.pageContent.visible .more {
	opacity: 1;
	transform: translateY(0);
	transition-delay: 0;
}
.pageContent .more a {
	transform: translateY(0);
	transition: transform ease .15s;
}
.pageContent .more a:hover {
	transform: translateY(-4px);
}
.pageContent .more a, .pageContent .more a:hover, .pageContent .more a:active {
	color: #eee;
	text-decoration: none;
}
.pageContent .more img {
	height: 2rem;
}

.rotateAnim {
	backface-visibility: hidden;
	opacity: 0;
	transform: perspective(2500px) rotateY(-15deg);
	transition: .3s cubic-bezier(.18,.88,.67,1.13) transform, .2s cubic-bezier(.18,.88,.67,1.13) opacity;
	transition-delay: .2s, .2s;
}
.rotateAnim.visible {
	opacity: 1;
	transform: perspective(2500px) rotateY(0);
}

@media (max-width: 992px) {
	.pageContent .mt-5, .pageContent .my-5 {
		margin-top: 0 !important;
	}
	.pageContent .display-4 {
		font-size: 3rem;
	}
	.pageContent h1 {
		font-size: 2.2rem;
	}
	.pageContent h3 {
		font-size: 1.7rem;
	}
}
@media (max-width: 576px) {
	.pageContent .mt-5, .pageContent .my-5 {
		margin-top: 0 !important;
	}
	.pageContent .display-4 {
		font-size: 2rem;
	}
	.pageContent h1 {
		font-size: 1.5rem;
	}
	.pageContent h3 {
		font-size: 1.3rem;
	}
}