:root {
	height: 100%;
}
@media (max-width: 768px) {
	:root {
		font-size: 90%;
	}
}
@media (max-width: 550px) {
	:root {
		font-size: 85%;
	}
}
@media (max-width: 400px) {
	:root {
		font-size: 80%;
	}
}



body {
	font-family: 'Roboto', sans-serif;
	overflow-x: hidden;
}

.navbar {
	width: 100%;
	color: #ddd;
	z-index: 999;
}
.navbar a:not(.styledButton) {
	color: #ddd;
}
.navbar a.logo {
	margin: -0.5rem;
}
.navbar a:not(.logo) {
	position: relative;
	text-transform: uppercase;
	text-decoration: none;
}


.styledButtonContainer {
	position: relative;
	display: inline-block;
	border: 1px solid #eee;
	border-radius: 3px;
	top: 0;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 16px;
}
.styledButtonContainer:global(.disabled) {
	border-color: #aaa;
}
.styledButton {
	top: 0;
	border: none;
	color: #eee;
	padding: 6px 8px;
	background-color: transparent;
	text-transform: uppercase;
	cursor: pointer;
	transition: color .4s ease;
	min-width: 80px;
	display: inline-block;
}
.styledButton:disabled, .styledButtonContainer:global(.disabled) .styledButton {
	cursor: default;
	color: #aaa;
}
.styledButton::after {
	content: "";
	color: #000;
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	border-radius: 2px;
	background-color: #eee;
	z-index: -1;
	transition: width .4s ease;
}
.styledButtonContainer:not(:global(.disabled)) .styledButton:not(:disabled):hover {
	color: #111;
}
.styledButtonContainer:not(:global(.disabled)) .styledButton:not(:disabled):hover::after {
	width: 100%;
}



@keyframes GTBump {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.2);
	}
	80% {
		transform: scale(0.95);
	}
	100% {
		transform: scale(1);
	}
}

.navbar a:not(styledButton):hover {
	text-decoration: none;
	color: #aaa;
}
.navbar a:not(styledButton):active {
	text-decoration: none;
	color: #f33535;
}
.navbar a.logo .logo {
	visibility: hidden;
	height: 100px;
}
.navbar a.logo .logo.visible {
	visibility: visible;
	animation-name: GTBump;
	animation-duration: 1s;
	animation-timing-function: cubic-bezier(0.25, 0.5, 0, 1);
	animation-delay: 0s;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-fill-mode: none;
	animation-play-state: running;
}



.starsAnimationContainer {
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100vw;
	height: 100%;
	overflow: hidden;
	background-image: url("/img/stars.svg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.shootingStarContainer {
	z-index: 0;
	position: absolute;
	top: -100px;
	left: -100px;
	animation-name: shootingStarAnimation;
	/* animation-timing-function: linear; */
	animation-timing-function: cubic-bezier(.17,.44,.27,.27);
	animation-iteration-count: infinite;
}
.shootingStar {
	width: 1px;
	height: 1px;
	background-color: white;
	transform: rotate(45deg);
	animation: cometAnimation;
	animation-iteration-count: infinite;
	animation-timing-function: ease;
	animation-duration: 3.5s;
}
.shootingStar::before {
	content: "";
	position: absolute;
	display: block;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	right: -1px;
	top: -2px;
	background: rgba(93,212,236,.4);
	background: radial-gradient(circle, rgba(93,212,236,.7) 0%, rgba(93,212,236,0) 100%);
	animation: blendAnimation;
	animation-iteration-count: infinite;
	animation-timing-function: ease;
	animation-duration: 2s;
}
.shootingStar::after {
	content: "";
	position: absolute;
	display: block;
	width: 100px;
	right: 1px;
	top: 0;
	height: 1px;
	background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(130,130,130,0.5) 80%, rgba(255,255,255,0.4) 100%);
	animation: fireAnimation;
	animation-iteration-count: infinite;
	animation-timing-function: ease;
	animation-duration: 5s;
}

@keyframes shootingStarAnimation {
	from {
		top: -100px;
		left: -100px;
	}
	to {
		top: calc(100vh + 50px);
		left: calc(100vh + 50px);
	}
}
@keyframes cometAnimation {
	0% {
		background-color: rgba(255, 255, 255, .5);
	}
	33% {
		background-color: rgba(255, 255, 255, .8);
	}
	50% {
		background-color: rgba(255, 255, 255, 1);
	}
	66% {
		background-color: rgba(255, 255, 255, .8);
	}
	100% {
		background-color: rgba(255, 255, 255, .5);
	}
}
@keyframes blendAnimation {
	0% {
		opacity: 0;
	}
	50% {
		opacity: .5;
	}
	100% {
		opacity: 0;
	}
}
@keyframes fireAnimation {
	0% {
		width: 100px;
	}
	20% {
		width: 45px;
	}
	50% {
		width: 80px;
	}
	70% {
		width: 100px;
	}
	80% {
		width: 150px;
	}
	100% {
		width: 100px;
	}
}



.gtLoaderBackground {
	position: fixed;
	top: 0;
	height: 100vh;
	z-index: 1000;
	transition: left .5s cubic-bezier(.5,0,.8,-.02), right .5s cubic-bezier(.5,0,.8,-.02);
	/* background-color: rgb(95, 210, 255); */
}
.gtLoaderBackground.left {
	border-right: 70vw solid transparent;
	border-top: 165vh solid rgb(122,95,255);
	width: 0;
	left: 0;
}
.gtLoaderBackground.right {
	border-left: 70vw solid transparent;
	border-bottom: 165vh solid rgb(95, 210, 255);
	width: 100vw;
	right: 0;
}
.gtLoaderBackground.left.visible {
	left: -100vw;
}
.gtLoaderBackground.right.visible {
	right: -100vw;
}

.gtLoader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1001;
}

@keyframes scaleGT {
	0% {
		transform: scale(.6) rotate(-30deg);
	}
	100% {
		transform: scale(1) rotate(0deg);
	}
}
.gtLogo {
	position: fixed;
	top: calc(50% - 150px);
	left: calc(50% - 150px);
	height: 300px;
	max-width: 70vw;
	width: auto;
	user-select: none;
	-webkit-user-select: none;
	transition: transform ease .5s;
	animation-name: scaleGT;
	animation-duration: 1s;
	animation-timing-function: cubic-bezier(0.25, 0.5, 0, 1);
	animation-delay: 0s;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-fill-mode: none;
	animation-play-state: running;
}
.gtLogo.move {
	transform: translate(0, 0);
	transition-delay: .02s;
	transition: transform ease .45s;
}
@media (max-width: 400px) {
	.gtLogo {
		top: calc(50% - 100px);
		left: calc(50% - 100px);
		height: 200px;
	}
}
@media (max-width: 300px) {
	.gtLogo {
		top: calc(50% - 75px);
		left: calc(50% - 75px);
		height: 150px;
	}
}


.content {
	color: #eee;
	padding: 3rem 0 0 0;
	font-weight: 100;
	font-size: 1.2rem;
}


h1, h2, h3, h4, h5, h6 {
	font-weight: 100;
}


input[type="button"], input[type="button"]:focus, button, button:focus {
	outline: none;
}
input[type="button"]::-moz-focus-inner, button::-moz-focus-inner {
	border: 0;
}



.rotateAnim {
	backface-visibility: hidden;
	opacity: 0;
	transform: perspective(2500px) rotateY(-15deg);
	transition: .3s cubic-bezier(.18,.88,.67,1.13) transform, .2s cubic-bezier(.18,.88,.67,1.13) opacity;
	transition-delay: .2s, .2s;
}
.rotateAnim:global(.visible), :global(.visible) .rotateAnim {
	opacity: 1;
	transform: perspective(2500px) rotateY(0);
}


.arrowLink {
	user-select: none;
	opacity: 0;
	transform: translateY(16px);
	transition: opacity ease .3s, transform ease .3s;
	transition-delay: .5s, .5s;
}
:global(.visible) .arrowLink, .arrowLink:global(.visible) {
	opacity: 1;
	transform: translateY(0);
	transition-delay: 0;
}
.arrowLink a {
	transform: translateY(0);
	transition: transform ease .15s;
}
.arrowLink a:hover {
	transform: translateY(-4px);
}
.arrowLink a, .arrowLink a:hover, .arrowLink a:active {
	color: #eee;
	text-decoration: none;
}
.arrowLink img {
	height: 2rem;
}
.arrowLink.revert img {
	transform: scaleY(-1);
}